$colorMain: #eee;
$colorAccent: #ff7352;
$colorElements: #8a8a8a;
@mixin border-line ($property) {
    #{$property}: 1px solid #383838;
}

html {
    font-size: 14px;
}

body {
    margin: 0;
    font-size: 1rem;
    font-family: 'Almarai', sans-serif;
}

.wrapper-content {
    width: 70%;
    margin: 0 auto;
}

.wrapper {
    background: #1d1d1f;

    // ** header ** // 
    .header{
        min-height: 100vh;
        
        .header__primary-wrap {
            display: flex;
            justify-content: space-between;
            color: #fff;
            padding: 50px 0;

            .header__heading-wrap {
                letter-spacing: 2px;
                
                .header__heading {
                    font-size: 2.8rem;
                    margin: 0 0 50px 0;
                    font-weight: bold;
                }
                .header__heading-dscr {
                    color: $colorAccent;
                    margin: 0;
                    font-weight: normal;
                    font-size: 1.3rem;
                }
            }
            .header__title {
                margin: 0; 
                font-size: 1.2rem;
                padding: 10px 0;
                text-align: end;
                font-weight: normal;
                border: 1px solid #fff;
                width: 200px;
                text-align: center;
                height: fit-content;
            }
        }
        
        // ** header img ** //
        .header__img {
            background: url(../img/head-g.jpg);
            background-size: cover;
            background-position: 70% 30%;
            background-repeat: no-repeat;
            height: 55vh;
            display: flex;
            align-items: flex-end;
            
            .header__img-icons {
                padding-bottom: 30px;
                
                .footer__link {
                    text-decoration: none;
                    margin-right: 5px;
    
                    .footer__icon {
                        fill: $colorElements;
                        transition: fill 300ms ease-in-out, filter 300ms ease-in-out;
        
                        &:hover {
                            fill: $colorMain;
                            filter: drop-shadow(0px 1px 3px rgba(#fff, .4));
                        }
                        &:active {
                            transform: scale(.95);
                        }
                    }
                }
                
            }
        }
    }

    // ** main ** //
    .main {
        color: $colorMain;
        padding-bottom: 30px;

        // ** main title **//
        .main__title {
            margin: 0;
            padding: 40px 0 30px 0;
            font-size: 1.4rem;
            width: 40%;
            @include border-line(border-bottom);
        }
        
        // ** main containt blocks ** //
        .main__content-wrap {
            padding: 50px 0;
            position: relative;

            &::after {
                position: absolute;
                content: "";
                bottom: 0;
                left: 30%;
                width: 40%;
                text-align: center;
                @include border-line(border-bottom);
            }
            &:last-child::after {
                border: none;
            }
            .main__content-item {
                display: flex;
                padding: 20px;
                background-color: #252525;
                border-radius: 10px;

                // ** containt img ** //
                .main__content-img-wrap {
                    max-width: 450px;
                    min-width: 450px;

                    .main__content-img {
                        border-radius: 5px;
                        width: 100%;
                    }
                }
                
                // ** content discription ** //
                .main__content-dscr-wrap {
                    padding: 10px 0 10px 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .main__content-title {
                        color: $colorAccent;
                        margin: 0;
                        margin-bottom: 20px;
                        font-size: 1.2rem;
                        font-weight: bold;
                    }
                    .main__content-dscr {
                        margin: 0;
                        line-height: 1.4;
                    }     
                    .main__tech-wrap {
                        margin: 10px 0 15px 0;
                        display: flex;
                        @include border-line(border-bottom);

                        .main__tech-img-wrap {
                            width: 30px;
                            margin: 10px 10px 15px 0;

                            .tech__img {
                                width: 100%;
                            }
                        }
                    }

                    // ** content links ** //
                    .main__content-link-wrap {
                        display: flex;

                        .main__content-link {
                            border: 1px solid $colorElements;
                            margin-right: 10px;
                            text-decoration: none;
                            color: $colorMain;
                            padding: 10px;
                            width: 100px;
                            text-align: center;
                            position: relative;
                            overflow: hidden;
                            transition: border-color 300ms ease-in;

                            &:after {
                                background: #fff;
                                content: "";
                                height: 130px;
                                left: -70px;
                                opacity: .2;
                                position: absolute;
                                top: -50px;
                                transform: rotate(30deg);
                                transition: all 300ms ease-in-out;
                                width: 50px;
                            }
                            &:hover {
                                border-color: #fff;
                                box-shadow: 0px 1px 8px rgba(#fff, .4);
                                color: #fff;

                                &:after {
                                    left: 120px;
                                }
                            }
                            &:active {
                                transform: scale(.95);
                            }
                        }           
                    }
                }
            }
        }
    }

    // ** footer ** //
    .footer {
        padding: 20px 0;
        color: $colorMain;
        font-size: 1rem;
        text-align: center;
        @include border-line(border-top);
        width: 30%;
        margin: 40px auto 0 auto;
    }
}

@media screen and (max-width: 1200px) {
    .wrapper-content {
        width: 80%;
    }
}
@media screen and (max-width: 992px) {
    .wrapper {
        .main {
            .main__content-wrap {
                .main__content-item {
                    .main__content-img-wrap {
                        max-width: 300px;
                        min-width: 300px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .wrapper {
        .main {
            .main__content-wrap {
                .main__content-item {
                    display: block;

                    .main__content-img-wrap {
                        min-width: 100%;
                    }

                    .main__content-dscr-wrap {
                        padding: 10px 0 0 0;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 499px) {
    .wrapper-content {
        width: 90%;
    }
    .wrapper {
        .header {
            .header__primary-wrap {
                .header__title {
                    width: 100px;
                }
            }
        }
    }
}